@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

/*  Reseteo General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #1e293b;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  
  background-color: #050408;
  
}

/*  Estructura de la Aplicación */
.app-layout {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  background-color: #050408;
  
}

.app-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  background-color: #0d0c15;
 
}

/*  Tipografías */
h1, h2, h3, button, .cta-btn, .framer-badge {
  font-family: "Google Sans Flex", sans-serif;
}

p, span, a {
  font-family: "Inter Tight", sans-serif;
}

/*  Barra de Desplazamiento (Scrollbar) */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #334155; 
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #475569;
}